export(
       sii,
       plot.SII,
       print.SII,
       summary.SII,
       predict_aided_sii,
       launch_app,
       calculate_loudness
       )

importFrom("utils", "data")
importFrom("graphics", "abline", "legend", "lines")
importFrom("stats", "approx", "predict")
S3method(plot, SII)
S3method(print, SII)
S3method(summary, SII)
