export(
       sii,
       plot.SII,
       print.SII,
       summary.SII,
       launch_app,
       calculate_loudness
       )

importFrom("utils", "data")
importFrom("graphics", "abline", "legend", "lines", "axis", "points", "mtext", "par", "text")
importFrom("stats", "approx", "predict")
S3method(plot, SII)
S3method(print, SII)
S3method(summary, SII)
export(open_nl)
S3method(print, prescription_target)
S3method(summary, prescription_target)
S3method(plot, prescription_target)
